<li class='nav-header'>Programmeer talen</li>
<%# Voeg hier een link toe naar een nieuwe pagina voor de sectie Programmeer talen%>
<li ><a href="python.html">Python</a></li>
<li ><a href="#">Haskell</a></li>
<li ><a href="#">SQL</a></li>



<li class='nav-header'>Hardware</li>
<%# Voeg hier een link toe naar een nieuwe pagina voor de sectie Hardware%>
<li ><a href="arduino.html">Arduino</a></li>




<li class='nav-header'>Project management</li>
<%# Voeg hier een link toe naar een nieuwe pagina voor de sectie Project management%>
<li ><a href="trello.html">Trello</a></li>
<li ><a href="github.html">GitHub</a></li>




<li class='nav-header'>Version management</li>
<%# Voeg hier een link toe naar een nieuwe pagina voor de sectie Version management%>
<li ><a href="#">Git</a></li>




<li class='nav-header'>Overig</li>
<%# Voeg hier een link toe naar een nieuwe pagina voor de sectie Overig%>
<li ><a href="#">Wireshark</a></li>
<li ><a href="virtualbox.html">VirtualBox</a></li>
<li ><a href="lightside.html">LightSide</a></li>
<li ><a href="java.html">Java</a></li>