<li class='nav-header'>Programming languages</li>
<li><a href="{{ '/python' | relative_url }}">Python</a></li>
<li><a href="{{ '/sql' | relative_url }}">SQL</a></li>
<li><a href="{{ '/haskell' | relative_url }}">Haskell</a></li>

<li class='nav-header'>Hardware</li>
<li><a href="{{ '/arduino' | relative_url }}">Arduino</a></li>

<li class='nav-header'>Project management</li>
<li><a href="{{ '/trello' | relative_url }}">Trello</a></li>
<li><a href="{{ '/github' | relative_url }}">GitHub</a></li>

<li class='nav-header'>Version management</li>
<li><a href="{{ '/git' | relative_url }}">Git</a></li>

<li class='nav-header'>Miscellaneous</li>
<li><a href="{{ '/vp' | relative_url }}">Visual Paradigm</a></li>
<li><a href="{{ '/virtualbox' | relative_url }}">VirtualBox</a></li>
<li><a href="{{ '/lightside' | relative_url }}">LightSide</a></li>
<li><a href="{{ '/java' | relative_url }}">Java</a></li>
