---
title: Welcome
---

<div class="welcome">
  <h1>Documentation</h1>
  <p class="doc">
    This website contains information about the tools and software used in TOM.
  </p>
  <p>
    Add documentation your own <%= link_to 'here', 'about.html' %>.
  </p>
</div>